# Windows/Visual Studio
# --------------------------------------
build
*.vs
*.opensdf
*.sdf

# Mac/Xcode
#---------------------------------------
.DS_Store

## Build
build
DerivedData

# Xcode project
xcuserdata
